<div class="jumbotron">
	<h2>About Us</h2>
</div>
<p>We are working on our One Month Rails Pinteresting app.  Eventually, we will have some more snazzy designs and working features here.  Thanks!</p>
