<div class="jumbotron">
	<h3>About Us</h3>
</div>
<p3>We are working on our Ruby on Rails Pinteresting test app.  Eventually, we will have some more snazzy designs and working features here. Thanks!</p3>

