<div class="jumbotron center"> 
	<h1>This is a test app!</h1>
	<p>Click here to <%= link_to "Login", "#", class: "btn btn-default btn-lg" %> or <%= link_to "Sign Up", "#", class: "btn btn-danger btn-lg" %>.</p>
</div>
